{% extends 'company/base.html' %}

{% block title %}
Tree
{% endblock %}

{% block body %}
{% load mptt_tags %}
<ul>
    {% recursetree nodes %}
        <li>
            {{ node.name }} | {{ node.earnings }} |
            {% if not node.earnings == node.count_earnings %}
            {{ node.count_earnings }}
            {% endif %}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}

        </li>
    {% endrecursetree %}
</ul>
{% endblock %}
